<div class="chat-container">
  <div class="chat-client">
    <p style="margin: 0">testing i like this app its pretty cool i need a long message to make this work pretty well</p>
  </div>
  <div class="chat-peer">
    <p style="margin: 0">testing i like this app its pretty cool i need a long message to make this work pretty well</p>
  </div>
</div>
<div class="input-container">
  <input class="chat-input" placeholder="Enter Chat Message">
  <button mat-mini-fab color="accent" class="chat-button"><mat-icon>send</mat-icon></button>
</div>