// .draggable-area {
//   -webkit-app-region: drag;
//   width: 100%;
//   background-color: blue;
//   height: 30px;
// }

.main-container {
  // border-radius: 10px;
  // box-shadow: 5px 5px 10px lightgray;
  width: 100%;
  height: calc(100vh - 100px);
  margin: 0;
  // padding-top: 10px;
  // padding-left: 20px;
  // padding: 20px;
  // margin-top: 17.5vw;
  // background-color: white;
  // border: solid lightgray 1px;
}