<div class="connection-container">
  <button mat-fab extended class="mb-1" color="accent" (click)="this.togglePopUp()">
    <mat-icon>add</mat-icon>
    Add
  </button>
  <button mat-mini-fab class="mb-1" color="accent" style="height:48px; width:48px" disabled (click)="this.togglePopUp()">
    <mat-icon>portable_wifi_off</mat-icon>
  </button>
  <div>
    <div class="connection-card">
      <div class="connection-name"><b>Noah</b>
        <span class="connection-status-circle connection-status-on"></span>
        <button class="trash" (click)="this.togglePopUp()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="connection-ip">192.168.123.213:30303</div>
    </div>
  </div>
</div>

<div *ngIf="this.popup">
  <div class="darken"></div>
  <div class="input-container">
    <p>
      <b>New Connection</b>
      <button class="close" (click)="this.togglePopUp()">
        <mat-icon>close</mat-icon>
      </button>
    </p>
    <p>
      <span>Address: </span><input matInput style="width: 150px" placeholder="IP" #address
        (keyup)="addressUpdate(address.value)"> : <input style="width: 100px" disabled value="5667" placeholder="Port"
        #port (keyup)="portUpdate(port.value)">
    </p>
    <p>
      <span>Password: </span><input style="width: 250px" placeholder="Password" #password
        (keyup)="passwordUpdate(password.value)">
    </p>
  </div>
</div>