<div class="nav-container">
  <button mat-fab extended color="primary" routerLink="/chat"><mat-icon>chat</mat-icon> Chat</button>
  <button mat-fab extended color="primary" class="ml-1" routerLink="/input"><mat-icon>upload</mat-icon> Send</button>
  <button mat-fab extended class="ml-1" color="primary" routerLink="/recieve"><mat-icon>download</mat-icon> Recieve</button>
  <button mat-fab extended class="ml-1" color="primary" routerLink="/settings"><mat-icon>settings</mat-icon> Settings</button>
</div>